
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container img{
  border-radius: 10px;
}

.container p {
  width: 300px;
  white-space: normal;
  overflow-wrap: break-word;
  margin: 30px;
}

.socials{
    display: flex;
    list-style-type: none;
}

.socials li {
  margin-right: 15px;
}

mat-toolbar{
  background-color: white;
}

mat-toolbar span {
  margin-right: 15px;
}