<!--<app-nav-bar></app-nav-bar>-->

    <!--<nav class="content">
      <mat-list class="nav-list">
        <mat-list-item> <a routerLink="/"> Bio </a> </mat-list-item>
        <mat-list-item> <a routerLink="/"> Blog </a>  </mat-list-item>
        <mat-list-item> <a routerLink="/"> Projects </a>  </mat-list-item>
      </mat-list>
    </nav>-->
  
    <nav>
        <ul class="nav-list">
          <li> <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"> Bio </a> </li>
          <li> <a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page"> Blog </a>  </li>
          <li> <a routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page"> Projects </a>  </li>
        </ul>
      </nav>



<router-outlet />

